:root {
    --c0: #ffffff;
    --c1: #E3919F;
    --c2: #E7C0BC;
    --c3: #370808;
    --c4: #D97E8A;
    --c5: #EC9FAB;
    --c6: #000000;
    /* gradient */
    --c7: #850e35;
    --c8: #ee6983;
    --c9: #ffc4c4;
    --c10: #fff5e4;
    --c11: #d1d5db;
}

*:not(input):not(textarea):not([contenteditable="true"]) {
    caret-color: transparent !important;
}

input,
textarea,
[contenteditable="true"] {
    caret-color: auto;
    outline: none;
    padding: 6px 10px;
    border-radius: 5px;
    transition: border 0.2s ease;
}

body {
    /* background: radial-gradient(circle, var(--c10), var(--c0)); */
      background: radial-gradient(circle at center, var(--c10), var(--c9), var(--c2), var(--c5));
  background-size: 200% 200%;
  animation: moveGradient 20s ease-in-out infinite alternate;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.form-label,
h2 {
    color: var(--c7);
}

.form-control {
    border: none;
    background-color: ;
}

.edit-form-container {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    /* backdrop-filter: blur(15px); */
    padding: 30px;
    border-radius: 1.5rem;
    box-shadow: 0 6px 16px rgba(159, 0, 71, 0.1);
    width: 100%;
    max-width: 600px;
}

.btn {
    font-weight: 600;
}

.btn-gradient {
    background-color: var(--c7);
    color: var(--c0);
    border: none;
    transition: 0.3s ease;
}

.btn-gradient:hover {
    background-color: var(--c8);
    transform: scale(1.03);
    color: var(--c0);
}

.btn-outline-secondary {
    background-color: transparent;
    border: 3px solid var(--c7);
    color: var(--c7);
    transition: 0.3s ease;
}

.btn-outline-secondary:hover {
    background-color: transparent;
    border: 3px solid var(--c8);
    color: var(--c8);
    transform: scale(1.03);
}


@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}